html, body {
    margin: 0;
    min-height: 100%;
    height: initial;
    background: initial;
}

body {
    position: relative;
    background-color: #F2F2EC;
    background-color: lightgray;

    background-image: radial-gradient(#f4f4ee,#e0e0ca);

    background-position:center;
    background-attachment: fixed;

    font-family: Roboto;
}

.site-header {
    margin: 0;
    padding: 20px;
    display: block;
    background-color: #ecf7f2;
    box-shadow: inset 0 -6px 6px -6px #9bc58a;
}

header.in-progress-header {
    padding: 20px;
    margin: 0;
    height: 55px;
    background-color: #ffffff;
    display: block;
    box-sizing: border-box;
    box-shadow: 0 4px 4px -2px darkgrey;
}

header h1 {
    font-size: 17px;
    box-sizing: border-box;
    margin: 0;
}

tr {
    text-align: left;
}

.menubar-container {
    display: block;

}

.menubar {
    margin: 0;
    background-color: #ffffff;
    display: block;
    box-sizing: border-box;
    box-shadow: 0 4px 4px -2px darkgrey;
}

.navbar {
    background: transparent;
    padding-left: 200px; /* allow space for logo*/
    float: right;
    box-shadow: none;
}

.navbar-container {
    position: absolute;
    top: 51px;
    clear:both;
    background: transparent;
    width:100%;
    height: 45px;
    display: block;
}

.menubar li {
    border-bottom: none;
    padding: 15px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    font-size:17px;
}

.navbar li {
    font-size:15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-color: #d4e2e6;
    background: #fbfbfb;
    text-decoration: none;
    box-shadow: inset 0 0 4px darkgrey;
}

.menubar li a, .menubar li a:visited {
    color: #808080;
}

.navbar li a, .navbar li a:visited {
    color: #709582;
    text-decoration: none;
}

.navbar li:active a, .navbar li.active a:visited {
    color: #37444e;
}

.navbar li.icon {
    display: none;
}

/* When the screen is small, hide all list items, except for the active one. Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:980px) {
  ul.navbar li:not(.active) { display: none; }
  ul.navbar li.icon {
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav when the user clicks on the icon. */
@media screen and (max-width:980px) {
  ul.navbar.responsive {position: relative;}
  ul.navbar.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.navbar.responsive li {
    float: none;
    display: block;
  }
  ul.navbar.responsive li a {
    display: block;
    text-align: left;
  }

  ul.navbar.responsive li:first-child {
    margin-top: 40px;
  }

}

.menubar li a {
    text-decoration: none;
}

.menubar li.active {
    font-weight: bold;
}

.navbar:not(.responsive) li.active {
    border: thin darkgray solid;
    border-bottom: none;
    border-color: darkgray;
    background: #ffffff;
    padding-top: 15px;
	margin: 0 0 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    box-shadow: none;
}

.tab-content {
    padding-top: 20px;
}

.edit-button {
    background: url('../assets/pencil_icons.png') no-repeat;
    background-position: 0 -17px;
}

.edit-button:hover {
    background-position: 0 0;
}

.add-button-container {
    margin: 10px;
    width: 80px;
    font-size: 12.5px;
}

.main-button, md-button.main-button {
	background-color:  #abcc91; /*for compatibility with older browsers*/
	background-image: linear-gradient(#bad69d,#87a873);
    box-shadow: inset 0 5px 5px -5px #dfffc2;
    color: white;
}

.main-button:active {
    background-color: #87a873;
    background-image: none;
}

.add-button {
    height: 70px;
    width: 80px;
    background-color: #abcc91;
    border:thin #91b57c solid;
    border-radius: 5px;
    margin-bottom: 5px;
}

.sidebar {
    padding-left: 80px;
    padding-right: 45px;
    vertical-align: top;
    display: inline-block;
}

.main-content {
    display: inline-block;
}

.dashboard-tile {
    vertical-align: top;
    background: #ffffff;
    border-radius: 4px;
    margin: 10px;
    padding-bottom:10px;
    display: inline-block;
    box-shadow: 4px 8px 10px -4px gray;
}

.dashboard-tile > * {
    margin-left: 20px;
    margin-right: 20px;
}

.dashboard-tile > header {
    padding: 0;
    margin-top: 20px;
    background-color: transparent;
    box-shadow: none;
    font-weight: bold;
    font-size:19px;
    color: #4d4d42;
    margin-bottom: 10px;
}

.dashboard-tile > header > span {
    float:left;
}

.dashboard-tile figure {
    font-size: 12px;
    color: #b8b8ac;
}

.dashboard-tile .summary-table-container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    background: #fbfbf6;
    border-top: thin #f5f5eb solid;
    border-bottom: thin #f1f1f0 solid;
}

.dashboard-tile a {
    text-decoration: none;
    font-size: 12px;
    color: #b8b8ac;
}

.dashboard-tile a:hover {
    font-size: 12px;
    color: black;
}

.dashboard-tile > header > button {
    float:right;
    height: 20px;
    width: 20px;
    overflow: hidden;
    padding: 0;
    opacity: 90;
    background-color: #fcfcfa;
    border: thin #f1f1ee solid;
    border-radius: 2px;
}

.dashboard-tile table {
    table-layout: fixed;
    width: 210px;
    white-space: nowrap;
}

.dashboard-tile tr, .dashboard-tile td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.dashboard-tile th:nth-child(1), .dashboard-tile td:nth-child(1) {
    width:40%;
}

.dashboard-tile td:nth-child(1) {
    color: gray;
}

.dashboard-tile th:nth-child(2) {
    width:25%;
}

.dashboard-tile th:nth-child(3) {
    width:35%;
    text-align: center;
}

.summary-table td:nth-child(2) {
    color: black;
}

.summary-table tr{
        color: #b8b8ac;
}

.details-table td, .details-table tr{
        color: #b8b8ac;
}

.spark-lines {
    display: block;
    height: 20px;
    width: 80px;
    background: url('../assets/spark_lines.png') no-repeat;
    background-position: 0 0px;
}

.details-table tr:nth-child(2) .spark-lines {
    background-position: 0 -18.5px;
}

.details-table tr:nth-child(3) .spark-lines {
    background-position: 0 -37px;
}

.details-table tr:nth-child(4) .spark-lines {
    background-position: 0 -55.5px;
}

.details-table tr:nth-child(5) .spark-lines {
    background-position: 0 -73px;
}

.details-table tr:nth-child(6) .spark-lines {
    background-position: 0 -92px;
}

.details-table tr:nth-child(7) .spark-lines {
    background-position: 0 -111.5px;
}

.dashboard-tile th {
    font-size: 10px;
}

.dashboard-tile td {
    font-size: 12px;
}

.overview-details {
    margin: 10px;
}

.overview-details td {
    vertical-align: top;
    font-size: 14px;
    font-weight: bold;
    color: #4d4d42;
}

.overview-details td a {
    text-decoration: none;
    font-weight: initial;
    font-size: 12px;
    color: #4d4d42;
}

.overview-details td a:visited {
    color: #4d4d42;
}

.overview-details td span {
    font-size: 10px;
}

.overview-details td:nth-child(1) {
    width: 110px;
}

.overview-details td:nth-child(2) {
    width: 80px;
}

.overview-details table {
    border-spacing: 0;
    width: 100%;
}

.overview-details th {
    font-size: 10px;
    color: #92927c;
    border-bottom: thin solid #c3c1b0;
    padding-bottom: 4px;
    vertical-align: bottom;
}

.overview-details tr:nth-child(1) td {
    padding-top: 15px;
}

.overview-details th:nth-child(1) {
    font-size: 14px;
}

.clear-helper {
    clear: both;
}

md-dialog .md-dialog-content fieldset {
  min-width: 600px;
}

md-dialog md-input-container {
    margin-bottom: 0;
}

fieldset md-checkbox, fieldset md-radio-button {
    margin-bottom: 5px;
}

.field-label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
