html, body {
    margin: 0;
    min-height: 100%;
}

body {  
    position: relative;
    background-color: #F2F2EC;  
    background-color: lightgray; 
    background-position:center;
    background-attachment: fixed;
}

.site-header {
    background-color: #ecf7f2;
    box-shadow: inset 0 -6px 6px -6px #9bc58a;
}

header {
    padding: 20px;
    margin: 0;
    background-color: #ffffff;
    display: block;
    box-sizing: border-box;
    box-shadow: 0 4px 4px -2px darkgrey;
}

header h1 {
    font-size: 17px;
    box-sizing: border-box;
    margin: 0;

}


section {
    border: thin black solid;
}

.overview-card {
    border: thin blue solid;
}

tr {
    text-align: left;
}

* {
    font-family: lato;
}

.menubar-container {
    display: block;

}

.menubar {
    margin: 0;
    background-color: #ffffff;
    display: block;
    box-sizing: border-box;
    box-shadow: 0 4px 4px -2px darkgrey;
}

.navbar {
    background: transparent;
    padding-left: 200px; /* allow space for logo*/
    float: right;
    box-shadow: none;
}

.navbar-container {
    position: absolute;
    top: 50px;
    clear:both;
    background: transparent;
    width:100%;
    height: 45px;
    display: block;
}

.menubar li {
    border-bottom: none;
    padding: 15px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    font-size:17px;
}

.navbar li {
    font-size:15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-color: #d4e2e6;
    background: #fbfbfb;
    text-decoration: none;
    box-shadow: inset 0 0 4px darkgrey;
}

.menubar li a, .menubar li a:visited {
    color: #808080;
}

.navbar li a, .navbar li a:visited {
    color: #709582;
    text-decoration: none;
}

.navbar li:active a, .navbar li.active a:visited {
    color: #37444e;
}

.menubar li a {
    text-decoration: none;
}



.menubar li.active {
    font-weight: bold;
}

.navbar li.active {
    border: thin darkgray solid;
    border-bottom: none;
    border-color: darkgray;
    background: #ffffff;
    padding-top: 15px;
	margin: 0 0 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    box-shadow: none;
}

.add-button-container {
    margin: 10px;
    width: 80px;
    font-size: 12.5px;
}

.add-button {
    height: 70px;
    width: 80px;
    background-color: #abcc91;
    border:thin #91b57c solid;
    border-radius: 5px;
    margin-bottom: 5px;

    /* background styles */
	position: relative;
	display: inline-block;
	padding: 15px 25px;
	background-color:  #abcc91; /*for compatibility with older browsers*/
	background-image: linear-gradient(#bad69d,#87a873);

    box-shadow: inset 0 5px 5px -5px #dfffc2;
}
